@media (max-width: 1650px) {
  .blog-info .blog-meta p {
    padding-right: 6px;
  }

  .chart-bar h3 {
    font-size: 18px;
  }
}
@media (max-width: 1590px) {
  .about-social ul li a {
    margin: 0px 2px;
  }

  .service-block h2 {
    font-size: 26px;
  }

  .chart-bar {
    text-align: center;
  }

  .chart-bar h3 {
    text-align: center;
    font-size: 24px;
    display: block;
    padding-left: 0px;
  }

  .blog-info .blog-meta p a {
    margin-bottom: 3px;
  }

  .contact .social ul li a {
    padding-right: 20px;
  }

  .slidebar-share ul li a {
    padding: 0 5px;
  }
}
@media (max-width: 1400px) {
  .service-block h2 {
    font-size: 22px;
  }

  .knowledge ul li {
    font-size: 16px;
  }

  .blog-info .blog-content a {
    font-size: 24px;
  }

  .blog-bottom .button-small a {
    font-size: 13px;
  }

  .contact .social ul li a {
    padding-right: 15px;
  }

  .slidebar-share ul li a {
    padding: 0px 1px;
  }

  .portfolio-item .item-info a {
    font-size: 16px;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 40px 12px;
  }
}
@media (max-width: 1300px) {
  .header {
    padding: 0px 30px;
  }

  #menu.sticky {
    padding: 0 30px;
  }

  .my-contact .contact-icon {
    margin-right: 10px;
  }

  .contact .social h4 {
    line-height: 28px;
  }

  .blog-bottom .button-small a {
    font-size: 12px;
    padding: 8px 8px;
  }

  .slidebar-share h4 {
    font-size: 14px;
  }

  .portfolio-item .item-info a {
    font-size: 24px;
  }

  .navbar-brand img {
    height: 50px;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 40px 12px;
  }

  #menu.sticky .navbar-nav > li > a {
    padding: 30px 12px;
  }

  .container-fluid {
    padding: 0px 30px;
  }
}
@media (max-width: 1272px) {
  .title-name-gray strong {
    font-size: 60px;
  }

  .my-contact .contact-icon {
    float: none;
  }

  .my-contact .contact-icon span {
    font-size: 22px;
  }

  .my-contact .contact-info p {
    font-size: 14px;
  }

  .my-contact .contact-info h4 {
    font-size: 16px;
  }

  .service-block h2 {
    font-size: 20px;
  }

  .blog-bottom .button-small a {
    padding: 5px 8px;
    font-size: 10px;
  }

  .blog-bottom .social ul li a {
    font-size: 12px;
    padding-left: 6px;
  }

  .contact .social ul li a {
    padding-left: 10px;
  }

  .dateinfo .block {
    font-size: 14px;
  }

  .contact .social ul li a {
    padding-right: 0px;
    font-size: 14px;
  }

  .full-screen .grid-item {
    width: 50%;
  }

  .blog-block {
    margin-bottom: 30px;
  }

  .about-social ul li {
    margin: 5px 0px;
  }

  .isotope-filters button {
    font-size: 16px;
  }

  .isotope-filters button span {
    padding: 0px 10px;
  }

  .contact {
    width: 42%;
  }

  .ui-datepicker td span,
.ui-datepicker td a {
    padding: 0.5em 0.5em;
  }

  .slidebar-share ul li a {
    padding: 0px;
  }

  .slidebar-share ul {
    display: block;
    margin-top: 10px;
  }

  .author-details .author-name {
    padding-left: 20px;
  }

  .port-meta li span {
    display: table-cell;
  }

  .port-meta li b {
    display: table-cell;
  }

  .port-title h2 {
    font-size: 24px;
  }

  .tags-2 li a {
    padding: 2px 7px;
  }
}
@media (max-width: 1198px) {
  .navbar-brand img {
    height: 40px;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 40px 7px;
    font-size: 13px;
  }

  #menu.sticky .navbar-nav > li > a {
    padding: 30px 7px;
  }

  #menu.sticky .navbar-brand img {
    height: 35px;
  }

  .service-block {
    margin-bottom: 50px;
  }

  .navbar-brand {
    padding: 32px 0px;
  }

  #menu.sticky .navbar-brand {
    padding: 22px 0px;
  }
}
@media (max-width: 1025px) {
  .blog-block {
    margin-bottom: 40px;
  }

  .blog-block:nth-child(3) {
    margin-top: 100px;
  }

  .chart-bar h3 {
    font-size: 18px;
    display: block;
    padding-left: 30px;
    line-height: 26px;
  }

  .author-details .author-avtar {
    display: block;
  }

  .author-details .author-name {
    padding-left: 0px;
  }
}
@media (min-width: 992px) {
  .error-contact .container {
    width: inherit;
  }
}
@media (max-width: 992px) {
  .page-header {
    padding: 50px 10px;
    height: 360px;
  }

  .header {
    position: relative;
    padding: 0 20px;
    background: #2f3742;
  }

  /*Menu*/
  .navbar-brand {
    padding: 12px 0px;
  }

  .navbar-brand img {
    height: 35px;
  }

  .navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }

  #menu {
    padding: 0px;
  }

  .navbar {
    margin-bottom: 0px;
  }

  #menu.sticky {
    padding: 0 20px;
  }

  #menu.sticky .navbar-brand {
    padding: 12px 0;
  }

  .navbar-collapse.pull-right {
    float: none !important;
  }

  .navbar-header {
    float: none;
    padding: 0;
  }

  .navbar-left,
.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 8px;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: none !important;
    width: 100%;
  }

  .navbar-nav li {
    float: none;
  }

  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .collapse.in {
    display: block !important;
  }

  .navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
  }

  .navbar {
    min-height: 60px;
    padding: 10px 0;
  }

  .navbar-toggle .icon-bar {
    height: 3px;
    width: 30px;
  }

  .navbar-custom {
    border-bottom: none;
    background-color: #191919;
  }

  .navbar-header .logo {
    padding: 0px 0;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 10px 0px;
    border-bottom: 0px;
  }

  .navbar-right {
    float: none !important;
  }

  .navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: none;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle:hover > .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #07cb79;
    border-bottom: 0px solid #07cb79;
  }

  #menu.sticky .navbar-nav > li > a {
    padding: 10px 0px;
  }

  .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 0px;
  }

  .nav.navbar-nav {
    padding-bottom: 15px;
  }

  .navbar-nav > li > .dropdown-menu li a {
    line-height: 15px;
  }

  .nav.navbar-nav {
    padding-left: 15px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #07cb79;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .content-scroller {
    margin-left: 0px;
    padding-top: 50px;
  }

  #themsbox {
    position: fixed;
    left: -230px;
    top: 0;
    width: 230px;
    height: 100%;
    z-index: 9999;
  }

  .but span {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 24px;
    color: #fff;
  }

  .but span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }

  .but.active span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .menu-responsive b {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
  }

  .menu-responsive {
    height: 50px;
    position: fixed;
    background: #2f3742;
    z-index: 9999;
    width: 100%;
    padding: 12px 15px;
    display: block;
  }

  .chart-bar h3 {
    padding-left: 0px;
  }

  .resume-block .resume-name h3 {
    font-size: 20px;
  }

  .resume-block .resume-info h3 {
    font-size: 20px;
  }

  .my-skill h2 {
    font-size: 24px;
  }

  .skill-content span {
    font-size: 16px;
  }

  .testimonials-comment {
    padding-left: 15px;
  }

  .calendar .date-block {
    margin-top: 50px;
  }

  .author {
    display: inline-block;
  }

  .author-details .author-avtar {
    display: inline-block;
    margin-right: 20px;
  }

  .author-details .author-name {
    display: inline-block;
  }

  .slidebar {
    margin-top: 50px;
  }

  .slidebar-share h4 {
    display: table-cell;
  }

  .slidebar-share ul {
    display: table-cell;
  }

  .slidebar-share ul li {
    padding-left: 5px;
  }

  .port-title {
    margin-top: 50px;
  }

  .contact-content.show-contact {
    overflow-y: scroll;
    overflow-x: auto;
  }

  .slidebar-widget {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding: 0 20px;
  }

  .page-section {
    padding: 40px 0px;
  }

  /*.about{ margin-top: 20px; }*/
  .section-title {
    margin-bottom: 40px;
  }

  .about {
    margin-top: 30px;
  }

  .about .section-title {
    margin-top: 50px;
  }

  .resume .section-title {
    margin-bottom: 40px;
  }

  .resume .resume-info {
    margin-top: 30px;
  }

  .my-skill .skill {
    margin-top: 50px;
  }

  .google-map {
    margin-top: 0px;
  }

  .pagination {
    margin-bottom: 0px;
  }

  .port-post {
    margin-bottom: 0px;
  }

  .contact {
    width: 50%;
  }

  .contact h2 {
    font-size: 26px;
  }

  .my-contact .contact-icon {
    float: left;
    margin-right: 30px;
  }

  .page-header-title h1 {
    font-size: 40px;
  }

  .about-image img {
    width: 100%;
  }

  .my-contact .contact-icon span {
    font-size: 28px;
    line-height: 40px;
  }

  .my-contact {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .page-section {
    padding: 40px 0px;
  }

  .page-section-pt {
    padding: 40px 0px 0;
  }

  .page-section-pb {
    padding: 0px 0px 40px;
  }

  .section-title .title-name-gray {
    display: none;
  }

  .intro-content h1 {
    font-size: 34px;
  }

  #typer h2 {
    font-size: 20px;
  }

  .intro-content h1 span {
    font-size: 24px;
  }

  .button-large a {
    font-size: 14px;
  }

  .portfolio-item .item-info a {
    font-size: 20px;
  }

  .full-screen .grid-item {
    width: 100%;
  }

  .isotope-filters {
    text-align: center;
  }

  .contact {
    padding: 20px;
  }

  .contact-toggle {
    right: 40px;
    bottom: 40px;
  }

  .page-header {
    padding: 20px;
  }

  .page-header-title h1 {
    font-size: 28px;
  }

  .page-header {
    height: 320px;
  }

  .page-header .page-header-title {
    padding: 70px 0px;
  }

  .ui-datepicker .ui-datepicker-prev {
    left: 28px;
  }

  .ui-datepicker .ui-datepicker-next {
    right: 0px;
  }

  .date-area > .day,
.date-area > .month {
    font-size: 18px;
  }

  .date-area > .date {
    background: transparent;
    color: #ffffff;
  }

  .blog-single .contact-form .section-field {
    width: 100%;
  }

  .contact-toggle span {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 64px;
  }
}
@media (max-width: 479px) {
  #typer h2 {
    line-height: 26px;
  }

  .page-header {
    padding: 30px 20px;
  }

  .contact {
    width: 70%;
  }

  .contact .button-large a {
    padding: 20px 20px;
  }

  .section-title-name h2 {
    font-size: 28px;
  }

  .page-header .top-bar .back-home.pull-left {
    float: none !important;
    margin-bottom: 10px;
  }

  .page-header .top-bar .back-home a {
    display: inline-block;
  }

  .breadcrumb.pull-right {
    float: none !important;
    display: inline-block;
  }

  .page-header .page-header-title {
    padding: 40px 0px;
  }

  .page-header-title h1 {
    font-size: 24px;
  }

  .main-calendar {
    padding: 20px 10px;
  }

  .ui-datepicker td span,
.ui-datepicker td a {
    padding: 0.5em 0em;
  }

  .ui-datepicker th {
    padding: 1em 0.5em 2em;
  }

  .date-area > .day,
.date-area > .month {
    font-size: 14px;
  }

  .date-area > .date {
    font-size: 50px;
  }

  .comments-1.comments-2 {
    padding-left: 45px;
  }

  .comments-1 .comments-photo {
    width: 80px;
  }

  .port-post-social.pull-right {
    float: none !important;
  }

  .port-post-social a {
    margin-left: 0px;
    margin-bottom: 10px;
    display: block;
  }

  .comments-1 .comments-info span {
    padding-left: 0px;
    display: block;
    margin-top: 10px;
  }

  .single-portfolio-post .port-post-photo {
    float: none;
  }

  .single-portfolio-post .port-post-info {
    padding-left: 0px;
    margin-top: 30px;
  }

  .single-portfolio-post .port-post-social a {
    display: inline-block;
  }

  .error p {
    line-height: 30px;
  }
}
*::-moz-selection {
  background: #323232;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #323232;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #323232;
  color: #fff;
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #2f3742;
  margin: 0;
}
body .container > div {
  margin-top: 5em;
}
body ul {
  list-style: none;
  padding: 0;
}
body a {
  text-decoration: none;
  color: #337ab7;
}
body a:hover {
  color: #23527c;
}

.title-text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.large-text {
  font-size: 30px;
  font-weight: 600;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282828;
  background: #ffde00;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 18px;
  text-decoration: none;
}
.link-btn img {
  margin-left: 1ch;
}
.link-btn:hover {
  color: #fff;
  background: #282828;
}

.subject-header {
  position: relative;
  z-index: 0;
}
.subject-header h2 {
  font-size: 38px;
  font-weight: 600;
  margin: 4px;
  color: #2f3742;
}
.subject-header span {
  background: #ffde00;
  font-size: 16px;
  padding: 6px 20px;
  display: inline-block;
}
.subject-header .bg-text {
  position: absolute;
  left: 160px;
  top: -30px;
  font-size: 100px;
  font-style: italic;
  color: rgba(247, 248, 249, 0.7);
  z-index: -1;
}
.subject-header .bg-text * {
  color: inherit;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #282828;
  padding: 0 5px;
}
.navbar .navbar-header .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.navbar .navbar-header .navbar-brand p {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.navbar .navbar-header .navbar-brand img {
  height: 40px;
}
.navbar .nav-link {
  display: flex;
  margin: 0;
  height: 100%;
}
.navbar .nav-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 5px solid transparent;
  color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
}
.navbar .nav-link a:hover,
.navbar .nav-link a:focus,
.navbar .nav-link a:active,
.navbar .nav-link a:target {
  border-bottom-color: #ffde00;
  color: #ffde00;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 15px 5px;
}
.intro * {
  margin: 10px;
}

#about {
  display: flex;
}
#about > * {
  margin: 5px 15px;
}
#about .profile figure {
  width: 300px;
}
#about .profile img {
  display: block;
  width: 100%;
}
#about .profile .social-badge {
  display: flex;
  justify-content: center;
  background: #ffde00;
  margin: 0;
}
#about .profile .social-badge .social-item {
  margin: 15px;
  font-size: 18px;
}
#about .profile .social-badge .social-item a {
  color: #282828;
  background: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#about .profile .social-badge .social-item a:hover {
  color: #fff;
  background: #282828;
}
#about .about-info {
  display: grid;
  grid-template: auto auto auto/1fr;
  grid-template-areas: "title" "info" "description";
}
#about .about-info header {
  grid-area: title;
}
#about .about-info section {
  grid-area: description;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  color: #9ea8b6;
}
#about .about-info footer {
  grid-area: info;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
#about .info-badge {
  display: grid;
  grid-template: 1fr 1fr/60px auto;
  grid-template-areas: "icon title" "icon value";
}
#about .info-badge i {
  grid-area: icon;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .info-badge header {
  grid-area: title;
  font-size: 18px;
  color: #2f3742;
}
#about .info-badge p {
  grid-area: value;
  font-size: 16px;
  margin: 0;
  color: #9ea8b6;
}
#about .info-badge p a {
  text-decoration: none;
  color: inherit;
}

#resume .experience {
  display: grid;
  grid-template: auto auto 1fr/80px 400px 1fr;
  grid-template-areas: "icon title desc" "icon date desc" "_ _ desc";
  color: #9ea8b6;
  margin: 50px 0;
}
#resume .experience i {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#resume .experience .title-text {
  grid-area: title;
  text-transform: none;
  margin: 0;
  font-size: 30px;
  color: #ffde00;
}
#resume .experience .date {
  grid-area: date;
  font-size: 22px;
  color: #9ea8b6;
  font-weight: 600;
}
#resume .experience .desc {
  grid-area: desc;
}
#resume .experience .desc h1,
#resume .experience .desc h2,
#resume .experience .desc h3,
#resume .experience .desc h4,
#resume .experience .desc h5,
#resume .experience .desc h6 {
  color: #2f3742;
  margin: 4px;
}
#resume .experience .desc p {
  margin: 5px;
}
#resume .experience .desc h5 {
  font-size: 22px;
  margin: 15px 0;
}
#resume .experience .desc h6 {
  font-size: 20px;
  font-weight: normal;
}
#resume .experience .desc .center * {
  text-align: center;
}

#portfolio .portfolio-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: content-box;
}
#portfolio .portfolio-item img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
#portfolio .portfolio-item .info {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 40%;
  max-width: 60%;
  padding: 10px 15px;
  height: max-content;
  background: #2f3742;
  color: #fff;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  display: grid;
  grid-template: auto 1fr auto/1fr;
  grid-template-areas: "title" "footer" "link";
}
#portfolio .portfolio-item .info header {
  font-size: 30px;
  grid-area: title;
}
#portfolio .portfolio-item .info section {
  grid-area: link;
  display: flex;
  justify-content: flex-end;
}
#portfolio .portfolio-item .info section a {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 0;
}
#portfolio .portfolio-item .info footer {
  grid-area: footer;
  font-size: 16px;
  color: #ffde00;
}
#portfolio .portfolio-item:hover .info {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}
#portfolio .portfolio-item:hover img {
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  transform: translateX(60px);
}
#portfolio .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 15px;
  box-sizing: content-box;
}

#skill ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}
#skill ul li {
  font-size: 18px;
  font-weight: 500;
  margin: 6px 3px;
}
#skill ul li i {
  color: #ffde00;
  margin-right: 12px;
}

#experience h3 {
  font-size: 18px;
  color: #2f3742;
  font-weight: normal;
}
#experience p {
  color: #9ea8b6;
}

#testimonials .recommendation-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#testimonials .recommendation-container .rec-row {
  display: flex;
  flex-direction: column;
}
#testimonials .recommendation-container .item {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
#testimonials .recommendation-container .item header {
  font-size: 18px;
  color: #337ab7;
}
#testimonials .recommendation-container .item section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f4f5f6;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
  color: #9ea8b6;
}
#testimonials .recommendation-container .item section figure {
  margin: 0;
  margin-right: 25px;
}
#testimonials .recommendation-container .item section img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  max-width: inherit;
}
#testimonials .recommendation-container .item section p {
  grid-area: desc;
}
#testimonials .recommendation-container .item section ::before {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #f4f5f6 transparent transparent transparent;
}
#testimonials .recommendation-container .item footer {
  color: #282828;
  font-weight: 600;
}

#contact {
  background: rgba(247, 248, 249, 0.7);
  height: fit-content;
  padding: 5em 3em;
}
#contact button {
  text-transform: uppercase;
  width: 100%;
  background: #43485c;
  color: #fff;
  height: 50px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}
#contact .section-title {
  text-transform: uppercase;
  color: #2f3742;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 0;
  height: 80px;
  line-height: 25px;
  text-align: center;
  background: #282828;
  color: whitesmoke;
  padding-top: 2rem;
}
.footer strong {
  color: rgba(247, 248, 249, 0.7);
}

/*# sourceMappingURL=style.css.map */
